In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats as st
from math import factorial as ft 
plt.style.use('ggplot')

In [2]:
df_contract = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/interconnect/final_provider/contract.csv', encoding = "utf-8")
df_internet = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/interconnect/final_provider/internet.csv', encoding = "utf-8")
df_personal = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/interconnect/final_provider/personal.csv', encoding = "utf-8")
df_phone = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/interconnect/final_provider/phone.csv', encoding = "utf-8")

In [3]:
display(df_contract.sample(10))
df_contract.info()

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
4752,1682-VCOIO,2018-03-01,No,One year,No,Mailed check,20.45,481.1
5454,2506-TNFCO,2019-10-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,69.55,69.55
4050,2675-DHUTR,2015-04-01,No,Month-to-month,Yes,Electronic check,98.90,5780.7
6719,2509-TFPJU,2014-02-01,No,Two year,No,Credit card (automatic),25.75,1864.2
3222,6817-WTYHE,2019-12-01,No,Month-to-month,No,Bank transfer (automatic),44.90,111.05
3439,0917-EZOLA,2013-10-01,2019-10-01 00:00:00,Two year,Yes,Bank transfer (automatic),104.15,7689.95
5852,3398-ZOUAA,2018-01-01,2019-10-01 00:00:00,Month-to-month,Yes,Electronic check,69.10,1474.75
7004,6075-SLNIL,2016-12-01,No,Month-to-month,Yes,Credit card (automatic),95.10,3691.2
2013,7328-OWMOM,2017-07-01,No,One year,No,Credit card (automatic),20.10,589.25
5319,9866-OCCKE,2014-02-01,No,Two year,Yes,Mailed check,109.75,8075.35

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [8]:
df_contract.rename(columns={'customerID': 'customer_id', 'BeginDate': 'begin_date', 'EndDate': 'end_date', 'Type': 'type', 'PaperlessBilling': 'paperless_billing', 'PaymentMethod': 'payment_method', 'MonthlyCharges': 'monthly_charges', 'TotalCharges': 'total_charges'}, inplace=True)

df_contract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   begin_date         7043 non-null   object
 2   end_date           7043 non-null   object
 3   type               7043 non-null   object
 4   paperless_billing  7043 non-null   object
 5   payment_method     7043 non-null   object
 6   monthly_charges    7043 non-null   float64
 7   total_charges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

In [ ]:
print(df_contract.duplicated().sum())
print(df_contract.duplicated(subset=['customer_id', 'begin_date']).sum())
print(df_contract.duplicated(subset=['customer_id', 'end_date']).sum())
print(df_contract.duplicated(subset=['customer_id', 'type']).sum())
print(df_contract.duplicated(subset=['customer_id', 'paperless_billing']).sum())
print(df_contract.duplicated(subset=['customer_id', 'payment_method']).sum())
print(df_contract.duplicated(subset=['customer_id', 'monthly_charges']).sum())
print(df_contract.duplicated(subset=['customer_id', 'total_charges']).sum())

In [26]:
print(df_contract['begin_date'].value_counts())

end_date_data = len(df_contract[df_contract['end_date'] == 'No']) / len(df_contract['end_date']) * 100
print('The percentage of customers that do not have end dates is', end_date_data, '%')

begin_date
2014-02-01    366
2019-10-01    237
2019-11-01    237
2019-09-01    237
2020-01-01    233
             ...
2020-02-01     11
2014-01-01      7
2013-10-01      3
2013-12-01      3
2013-11-01      2
Name: count, Length: 77, dtype: int64
The percentage of customers that do not have end dates is 73.4630129206304 %

In [4]:
display(df_internet.sample(10))
df_internet.info()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
1922,8263-JQAIK,DSL,No,No,No,No,No,No
232,3488-PGMQJ,Fiber optic,No,Yes,No,No,No,No
4730,1397-XKKWR,DSL,Yes,No,Yes,No,No,No
2222,6988-CJEYV,Fiber optic,No,Yes,No,No,Yes,Yes
5338,5868-YWPDW,Fiber optic,No,Yes,No,No,No,Yes
1126,5223-UZAVK,Fiber optic,Yes,Yes,No,No,Yes,Yes
2911,1097-FSPVW,DSL,Yes,No,Yes,No,No,No
3079,0701-TJSEF,DSL,Yes,No,Yes,Yes,No,Yes
3261,7030-FZTFM,Fiber optic,No,Yes,Yes,Yes,Yes,Yes
2782,2045-BMBTJ,DSL,Yes,Yes,Yes,No,Yes,Yes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [9]:
df_internet.rename(columns={'customerID': 'customer_id', 'InternetService': 'internet_service', 'OnlineSecurity': 'online_security', 'OnlineBackup': 'online_backup', 'DeviceProtection': 'device_protection', 'TechSupport': 'tech_support', 'StreamingTV': 'streaming_tv', 'StreamingMovies': 'streaming_movies'}, inplace=True)

df_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        5517 non-null   object
 1   internet_service   5517 non-null   object
 2   online_security    5517 non-null   object
 3   online_backup      5517 non-null   object
 4   device_protection  5517 non-null   object
 5   tech_support       5517 non-null   object
 6   streaming_tv       5517 non-null   object
 7   streaming_movies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [ ]:
print(df_internet.duplicated().sum())
print(df_internet.duplicated(subset=['customer_id', 'internet_service']).sum())
print(df_internet.duplicated(subset=['customer_id', 'online_security']).sum())
print(df_internet.duplicated(subset=['customer_id', 'online_backup']).sum())
print(df_internet.duplicated(subset=['customer_id', 'device_protection']).sum())
print(df_internet.duplicated(subset=['customer_id', 'tech_support']).sum())
print(df_internet.duplicated(subset=['customer_id', 'streaming_tv']).sum())
print(df_internet.duplicated(subset=['customer_id', 'streaming_movies']).sum())

In [30]:
internet_customers = len(df_internet) / len(df_contract) * 100
active_internet_customers = len(df_internet) / len(df_contract[df_contract['end_date'] == 'No']) * 100
print('The percentage of customers who have contracts who also have internet contracts is ', internet_customers, '%')
print('The percentage of customers who have active contracts who also have internet contracts is ', active_internet_customers, '%')

The percentage of customers who have contracts who also have internet contracts is  78.33309669175067 %
The percentage of customers who have active contracts who also have internet contracts is  106.6293003478933 %

In [5]:
display(df_personal.sample(10))
df_personal.info()

      customerID  gender  SeniorCitizen Partner Dependents
5744  1371-WEPDS    Male              1     Yes         No
3061  8118-LSUEL    Male              1      No         No
3789  0310-VQXAM    Male              0      No         No
6849  5060-TQUQN    Male              0     Yes        Yes
1702  4423-YLHDV  Female              0     Yes         No
6038  1555-DJEQW  Female              0     Yes        Yes
2806  3259-QMXUN    Male              0     Yes         No
5324  7901-IIDQV    Male              0      No         No
5918  8514-VZHEB    Male              0     Yes        Yes
186   4827-USJHP    Male              0      No         No

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [10]:
df_personal.rename(columns={'customerID': 'customer_id', 'SeniorCitizen': 'senior_citizen', 'Partner': 'partner', 'Dependents': 'dependents'}, inplace=True)

df_personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     7043 non-null   object
 1   gender          7043 non-null   object
 2   senior_citizen  7043 non-null   int64
 3   partner         7043 non-null   object
 4   dependents      7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [ ]:
print(df_personal.duplicated().sum())
print(df_personal.duplicated(subset=['customer_id', 'gender']).sum())
print(df_personal.duplicated(subset=['customer_id', 'senior_citizen']).sum())
print(df_personal.duplicated(subset=['customer_id', 'partner']).sum())
print(df_personal.duplicated(subset=['customer_id', 'dependents']).sum())

In [6]:
display(df_phone.sample(10))
df_phone.info()

      customerID MultipleLines
830   6103-BOCOU           Yes
4613  3705-PSNGL            No
2752  1796-JANOW            No
1175  8390-FESFV           Yes
2832  0867-LDTTC            No
272   4115-BNPJY            No
5184  8050-DVOJX           Yes
6274  2758-RNWXS            No
1771  9261-WDCAF            No
4993  8048-DSDFQ            No

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [11]:
df_phone.rename(columns={'customerID': 'customer_id', 'MultipleLines': 'multiple_lines'}, inplace=True)

df_phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     6361 non-null   object
 1   multiple_lines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [15]:
print(df_phone.duplicated().sum())

0
0
0
0

In [31]:
phone_customers = len(df_phone) / len(df_contract) * 100
active_phone_customers = len(df_phone) / len(df_contract[df_contract['end_date'] == 'No']) * 100
print('The percentage of customers who have contracts who also have phone contracts is ', phone_customers, '%')
print('The percentage of customers who have active contracts who also have phone contracts is ', active_phone_customers, '%')

The percentage of customers who have contracts who also have phone contracts is  90.31662643759762 %
The percentage of customers who have active contracts who also have phone contracts is  122.94163123308851 %